RHT_OCP4_MASTER_API=https://api.ocp4.example.com:6443/
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp4.example.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na410.prod.nextcle.com
RHT_OCP4_MYSQL_SERVER=mysql.ocp-na46a.prod.ole.redhat.com
RHT_OCP4_DEV_USER=developer
RHT_OCP4_DEV_PASSWORD=developer
RHT_OCP4_GITHUB_USER=sukantadash
RHT_OCP4_QUAY_USER=sudash
A=https://api.ocp4.example.com:6443/
D=apps.ocp4.example.com
N=nexus-common.apps.na410.prod.nextcle.com
S=mysql.ocp-na46a.prod.ole.redhat.com
U=developer
P=developer
GU=sukantadash
QU=sudash
